
    <h3 class="margin_top_small">{{product.name}}</h3>

    <:Component {widgets[product.widget]} :product></:Component>

<script>
    import DescDomain from './DescDomain.html';
    import DescHosting from './DescHosting.html';
    import DescDsl from './DescDsl.html'
    import DescLte from './DescLte.html'
    import DescOaas from './DescOaas.html'
    import DescCloudStorage from './DescCloudStorage.html'

    export default {
        data() {
            return {
                widgets:  {
                    DescDomain,
                    DescHosting,
                    DescDsl,
                    DescLte,
                    DescOaas,
                    DescCloudStorage
                }
            }
        }
    };
</script>
<style type="text/scss">
    @import 'comet';
    .margin_top_small {
        color: darkgray;
        margin: 1rem 0 1rem;
    }
</style>