<h3>{{product.name}}</h3>

<:Component {widgets[product.widget]} :product></:Component>

<script>
    import DescDomain from './DescDomain.html';
    import DescHosting from './DescHosting.html';
    import DescDsl from './DescDsl.html'
    import DescLte from './DescLte.html'
    import DescOaas from './DescOaas.html'
    import DescCloudStorage from './DescCloudStorage.html'

    export default {
        components: {
            DescDomain,
            DescHosting,
            DescDsl,
            DescLte,
            DescOaas,
            DescCloudStorage
        },
        data() {
            return {

                widgets:  {
                    DescDomain,
                    DescHosting,
                    DescDsl,
                    DescLte,
                    DescOaas,
                    DescCloudStorage
                }
            }
        }
    };
</script>