<h3>{{product.name}}</h3>

{{#if product.name==='Domain'}}
<Domain :product></Domain>
{{elseif product.name==='Hosting'}}
<Hosting :product></Hosting>
{{elseif product.name==='DSL'}}
<Dsl :product></Dsl>
{{elseif product.name==='LTE'}}
<Lte :product></Lte>
{{elseif product.name==='Office as a Service'}}
<Oaas :product></Oaas>
{{elseif product.name==='Cloud Storage'}}
<CloudStorage :product></CloudStorage>
{{else}}
{{#each Object.keys(product).filter(key => key !== 'name') as key}}
<div>{{key}}: {{product[key]}}</div>
{{/each}}
{{/if}}


<script>
    import Domain from './Domain.html';
    import Hosting from './Hosting.html';
    import Dsl from './Dsl.html'
    import Lte from './Lte.html'
    import Oaas from './Oaas.html'
    import CloudStorage from './CloudStorage.html'

    export default {
        components: {
            Domain,
            Hosting,
            Dsl,
            Lte,
            Oaas,
            CloudStorage
        }

    };
</script>