<PromotionDescription :product></PromotionDescription>
<div class="promotion"><strong>{{product.offerPrice}}!</strong></div>
<PromotionActions :product></PromotionActions>

<script>
    import PromotionDescription from './PromotionDescription.html';
    import PromotionActions from './PromotionActions.html'

    export default {
        components: {
            PromotionDescription,
            PromotionActions
        },
        data() {
            return {
                product: {}
            }
        }
    };
</script>

<style>
    .promotion {
        color: #19e2b5;
        opacity: 0.8;
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }

</style>
