<div class="grid__col grid__col--4">
    <div class="border_round">
        <PromotionDescription :product></PromotionDescription>
        <div class="promotion"><strong>{{product.offerPrice}}!</strong></div>
        <PromotionActions :product></PromotionActions>
    </div>
</div>

<script>
    import PromotionDescription from './PromotionDescription.html';
    import PromotionActions from './PromotionActions.html'

    export default {
        components: {
            PromotionDescription,
            PromotionActions
        },
        data() {
            return {
                product: {}
            }
        }
    };
</script>

<style type="text/scss">
@import 'comet';
    .promotion {
        color: $color__primary;
        opacity: 0.8;
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }
    .border_round {
        background-color: lighten($color__primary, 75%);
        border-color: $color__primary;
        border-radius: 25px;
        border-width: 2px;
        border-style: solid;
        height: 280px;
        padding: $container__padding;
    }
</style>
