<h3>{{product.name}}</h3>

<!--{{#if product.name==='Domain'}}
<PromoDomain :product></PromoDomain>
{{elseif product.name==='Hosting'}}
<PromoHosting :product></PromoHosting>
{{elseif product.name==='DSL'}}
<PromoDsl :product></PromoDsl>-->

{{#if product.name==='LTE'}}
<PromoLte :product></PromoLte>
{{elseif product.name==='Office as a Service'}}
<PromoOaas :product></PromoOaas>
{{elseif product.name==='Cloud Storage'}}
<PromoCloudStorage :product></PromoCloudStorage>
{{else}}
{{#each Object.keys(product).filter(key => key !== 'name') as key}}
<div>{{key}}: {{product[key]}}</div>
{{/each}}
{{/if}}


<script>
    // import PromoDomain from './PromoDomain.html';
    // import PromoHosting from './PromoHosting.html';
    // import PromoDsl from './PromoDsl.html'
    import PromoLte from './PromoLte.html'
    import PromoOaas from './PromoOaas.html'
    import PromoCloudStorage from './PromoCloudStorage.html'

    export default {
        components: {
            PromoDomain,
            PromoHosting,
            PromoDsl,
            PromoLte,
            PromoOaas,
            PromoCloudStorage
        }

    };
</script>

<style>
    h3 {
        color: darkgray;
    }
</style>