# Created by .ignore support plugin (hsz.mobi)

### Temp files
*~

### Node
node_modules/
dist/

target/

# IntelliJ project files
### IntelliJ IDEA ###
.idea
*.iml
*.iws
*.ipr
out
gen



### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
+!.mvn/wrapper/maven-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

