/*********************************************************
    Grid
*********************************************************/
.grid {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  margin-left: -($container__padding/2);
  margin-right: -($container__padding/2);
  box-sizing: border-box;

  &--reverse {
    flex-direction: row-reverse;
  }

  &--gapless {
    margin: 0;

    & .grid__col {
      padding: 0!important;
    }
  }

  & .grid__col {
    position: relative;
    padding: 0 1rem 1rem;

    &--12 {
      flex-basis: 100%;
      max-width: 100%;
    }

    &--11 {
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    &--10 {
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    &--9 {
      flex-basis: 75%;
      max-width: 75%;
    }

    &--8 {
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    &--7 {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    &--6 {
      flex-basis: 50%;
      max-width: 50%;
    }

    &--5 {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    &--4 {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    &--3 {
      flex-basis: 25%;
      max-width: 25%;
    }

    &--2 {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    &--1 {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
  }
}

@media (max-width: $breakpoint__small) {
  .grid .grid__col {
    &--s-12 {
      flex-basis: 100%;
      max-width: 100%;
    }

    &--s-11 {
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    &--s-10 {
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    &--s-9 {
      flex-basis: 75%;
      max-width: 75%;
    }

    &--s-8 {
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    &--s-7 {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    &--s-6 {
      flex-basis: 50%;
      max-width: 50%;
    }

    &--s-5 {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    &--s-4 {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    &--s-3 {
      flex-basis: 25%;
      max-width: 25%;
    }

    &--s-2 {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    &--s-1 {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
  }
}

@media (min-width: ($breakpoint__small + 1)) and (max-width: $breakpoint__medium) {  
  .grid .grid__col {
    &--m-12 {
      flex-basis: 100%;
      max-width: 100%;
    }

    &--m-11 {
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    &--m-10 {
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    &--m-9 {
      flex-basis: 75%;
      max-width: 75%;
    }

    &--m-8 {
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    &--m-7 {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    &--m-6 {
      flex-basis: 50%;
      max-width: 50%;
    }

    &--m-5 {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    &--m-4 {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    &--m-3 {
      flex-basis: 25%;
      max-width: 25%;
    }

    &--m-2 {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    &--m-1 {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
  }
}