<div class="backendChoiceAction">
    {{#if status === 'idle'}}
    <button class="button button--clear button--large" on:click="set({status: 'choice'})">Choose backend</button>
    {{elseif status === 'choice'}}
    <Modal title="Choose backend" on:modaldone="set({'status': 'idle'})">
        <p><select>
            <option>Linux, Apache, MySQL, PHP</option>
            <option>Linux, Java</option>
        </select>
        </p>
        <button class="button" on:click="set({'status': 'idle'})">Ok</button>
    </Modal>
    {{/if}}
</div>

<script>
    import Modal from './Modal.html';

    export default {
        oncreate() {
        },
        components: {
            Modal
        },
        data() {
            return {
                status: 'idle',
                product: {},
            }
        }
    }
</script>

