<div class="connectionSpeedAction">
    {{#if status === 'idle'}}
    <button class="button button--clear button--large lineheight_small" on:click="set({status: 'choice'})">Change connection speed</button>
    {{elseif status === 'choice'}}
    <Modal title="Change speed" on:modaldone="set({'status': 'idle'})">
        <p><select>
            <option>16 Mbit/s at 14.99 EUR</option>
            <option>50 Mbit/s at 16.99 EUR</option>
            <option>100 Mbit/s at 19.99 EUR</option>
        </select>
        </p>
        <button class="button button--ok" on:click="set({'status': 'idle'})">Ok</button>
    </Modal>
    {{/if}}
</div>

<script>
    import Modal from './Modal.html';

    export default {
        oncreate() {
        },
        components: {
            Modal
        },
        data() {
            return {
                status: 'idle',
                product: {},
            }
        }
    }
</script>
<style type="text/scss">
    @import 'comet';

    .lineheight_small {
        line-height: 4rem;
    }
    .button--ok {
        font-size: 1.5rem;
    }
</style>
