<form class="form">
    <div class="grid form__rows">
        <div class="grid__col grid__col--12">
            <InputText id="userName" label="New email address"
                       binding="account.userName"
                       bind:value="account.userName"
                       bind:errors="errors"
                       constraints="{{constraints}}"
            />
        </div>
        <div class="grid__col grid__col--12">
            <InputText id="displayName" label="Display name"
                       binding="account.displayName"
                       bind:value="account.displayName"
                       bind:errors="errors"
                       constraints="{{constraints}}"
            />
        </div>
        <div class="grid__col grid__col--12">
            <button type="button" class="button button--outline"
                    on:click="fire('cancel')">
                Cancel
            </button>
            <button type="button" class="button"
                    on:click="finish()">
                {{confirmLabel}}
            </button>
        </div>
    </div>
</form>
<script>
    import validate from 'validate.js';
    import InputText from './InputText.html';

    export default {
        components: {
            InputText
        },
        methods: {
            finish() {
                const {account, constraints} = this.get();
                const errors = validate({account}, constraints);
                if (errors) {
                    this.set({errors});
                } else {
                    this.fire('ok', {account});
                }
            }
        },
        data() {
            return {
                domain: '',
                account: {
                    index: -1,
                    userName: '',
                    displayName: ''
                },
                confirmLabel: 'OK',
                constraints: {
                    'account.userName': {
                        format: {
                            pattern: '[A-Z0-9._%+-]+',
                            flags: 'i', // ignore case
                            message: '"%{value}" is not a valid account name'
                        }
                    },
                    'account.displayName': {
                        presence: {
                            allowEmpty: false,
                            message: "please enter your name"
                        }
                    }
                },
                errors: {}
            }
        }
    }
</script>

<style type="text/scss">
    @import 'comet';

    .form__rows {
        align-items: center;
    }
</style>
