<div class="emailAction">
    {{#if status === 'idle'}}
    <button class="button button--clear button--small" on:click="set({status: 'accountList'})">Manage Email Accounts</button>
    {{elseif status === 'accountList'}}
    <Modal title="Manage Email Accounts" on:modaldone="set({'status': 'idle'})">
        <table width="50%">
            <col width="50%">
            <col width="25%">
            {{#each accounts as account, index}}
            <tr>
                <td>{{account.user}}@{{product.domain}}</td>
                <td>
                    <button class="button button--small" on:click="splice('accounts', i, 1)">Delete</button>
                </td>
            </tr>
            {{/each}}
        </table>
        <form class="form">
            <label class="form__label" for="username">Username: </label>
            <input id="newAccount" type="text"
                class="newAccount form__input{{errorOrSuccess}}"
                title="{{errors.newAccount? `'${newAccount}@${product.domain}' ${errors.newAccount.join()}`: ''}}"
                bind:value='newAccount' on:keyup="validate(event.target)" placeholder='user name'/>
                @{{product.domain}}
            <button type="button"
                disabled="{{!newAccount || Object.keys(errors).length !== 0}}"
                title="{{errors.newAccount? `'${newAccount}@${product.domain}' ${errors.newAccount.join()}`: ''}}"
                class="button button--small" on:click="push('accounts', { user: newAccount })">Add account</button>
        </form>
        <button class="button" on:click="set({'status': 'idle'})">Ok</button>
    </Modal>
    {{/if}}
</div>

<script>
    import {splice, push} from 'svelte-extras';
    import Modal from './Modal.html';
    import validate from 'validate.js';

    const constraints = {
        newAccount: {
            email: true,
        }
    }

    export default {
        oncreate() {

        },
        components: {
          Modal
        },
        methods: {
            splice,
            push,
            validate(target) {
                const attribute = target.id;
                const value = this.get(attribute);
                const toValidate = constraints[attribute].email?`${value}@${this.get('product').domain}`:value;
                const errors = validate.single(toValidate, constraints[attribute]);
                if(value && errors) {
                    this.set({'errors': {[attribute]: errors}}); // ES6: computed key
                } else {
                    this.set({'errors': {}});
                }
            }
        },
        computed: {
          errorOrSuccess: (newAccount, errors) =>  {
              return newAccount
                ? (errors.newAccount
                    ?' form__input--error'
                    :' form__input--success')
                : ''
            }
        },
        data() {
            return {
                status: 'idle',
                accounts: [
                    {user: 'joe'},
                    {user: 'jane'}
                ],
                product: {},
                newAccount: '',
                errors: {}
            }
        }
    }
</script>

<style>
    input.newAccount {
        width: 50%
    }
</style>

