<div class="email-action">
    {{#if status.startsWith('idle')}}
    <button class="button button--clear button--large button--launch" on:click="go('editing.accountList')">Manage Email Accounts
    </button>
    {{elseif status.startsWith('editing')}}
    <Modal title="Manage Email Accounts" on:modaldone="go('idle')">
        {{#if status.startsWith('editing.accountList')}}
        <div class="grid form__rows">
            {{#each accounts as account, index}}
            <div class="grid__col grid__col--4">{{account.userName}}@{{product.domain}}</div>
            <div class="grid__col grid__col--4">{{account.displayName}}</div>
            <div class="grid__col grid__col--4">
                <button class="button button--small button--launch-update-email" on:click="beginUpdateAccount(index)">Edit</button>
                <button class="button button--small button--confirm-delete" on:click="confirmDelete(index)">Delete</button>
            </div>
            {{/each}}
            <div class="grid__col grid__col--12">
                <button class="button button--small button--launch-add-email" on:click="beginAddAccount()">Add</button>
            </div>
        </div>
        <button class="button button--ok" on:click="go('idle')">Ok</button>
        {{elseif status.startsWith('editing.add')}}
        <EmailEditor domain="{{product.domain}}" account="{{currentAccount}}" confirmLabel="Add"
            on:ok="performAddAccount(event.account)" on:cancel="go('editing.accountList')"></EmailEditor>
        {{elseif status.startsWith('editing.update')}}
        <EmailEditor domain="{{product.domain}}" account="{{currentAccount}}"
                     on:ok="performUpdateAccount(event.account)" on:cancel="go('editing.accountList')"></EmailEditor>
        {{elseif status.startsWith('editing.confirmDelete')}}
        <div class="grid">
            <div class="grid__col grid__col--12">
                Are you sure you want to delete the account {{ accounts[toDelete].userName }}@{{product.domain}}?
            </div>
            <div class="grid__col grid__col--6">
                <button class="button button--outline" on:click="go('editing.accountList')">Cancel</button>
            </div>
            <div class="grid__col grid__col--6">
                <button class="button" on:click="performDelete(toDelete)">Delete</button>
            </div>
        </div>
        {{/if}}
    </Modal>
    {{/if}}
</div>

<script>
    import 'core-js/es6/string';
    import {splice, push} from 'svelte-extras';
    import Modal from './Modal.html';
    import EmailEditor from './EmailEditor.html';

    const constraints = {
        newAccount: {
            email: true,
        },
        currentAccount: {
            email: true
        }
    };

    export default {
        components: {
            Modal,
            EmailEditor
        },
        methods: {
            splice,
            push,
            confirmDelete(index) {
                this.set({
                    toDelete: index,
                    status: 'editing.confirmDelete'
                });
            },
            performDelete(index) {
                this.go('editing.accountList');
                this.splice('accounts', index, 1);
            },
            beginAddAccount() {
                this.set({
                    currentAccount: {
                        userName: '',
                        displayName: ''
                    }
                });
                this.go('editing.add');
            },
            performAddAccount(account) {
                this.go('editing.accountList');
                this.push('accounts', account);
                this.set({currentAccount: {}});
            },
            beginUpdateAccount(index) {
                const { accounts } = this.get();
                const account = accounts[index];
                this.set({
                    currentAccount: {
                        index,
                        userName: account.userName,
                        displayName: account.displayName
                    }
                });
                this.go('editing.update');
            },
            performUpdateAccount(account) {
                const index = account.index;
                delete account.index;
                this.splice('accounts', index, 1, account);
                this.go('editing.accountList');
            },
            go(status) {
                this.set({status});
            },
            validate(target) {
                const attribute = target.id;
                const value = this.get(attribute);
                const toValidate = constraints[attribute].email ? `${value}@${this.get('product').domain}` : value;
                const errors = validate.single(toValidate, constraints[attribute]);
                if (value && errors) {
                    this.set({'errors': {[attribute]: errors}}); // ES6: computed key
                } else {
                    this.set({'errors': {}});
                }
            }
        },
        data() {
            return {
                status: 'idle',
                accounts: [
                    {
                        userName: 'john',
                        displayName: 'John Doe'
                    },
                    {
                        userName: 'jane',
                        displayName: 'Jane Doe'
                    }
                ],
                product: {},
                currentAccount: {},
                errors: {}
            }
        }
    }
</script>

<style type="text/scss">
    @import 'comet';

    .form__rows {
        align-items: center;
    }
</style>

