<!-- TODO: style error messages in InputText -->
<label for="{{id}}" class="form__label">
    {{label}}
</label>
<input bind:value="value" placeholder='{{placeholder}}' id="{{id}}"
       type="text"
       class="form__input{{errorClass(errors, binding)}}"
       on:change="validateSingle(event.target)" on:input="removeErrors(event.target)"
       data-binding="{{binding}}">
<span> {{errorMessage(errors, binding)}}</span>
<script>
    import validate from 'validate.js';

    validate.validators.presence.options = {message: "is required"};

    validate.options = {
        fullMessages: false, prettify: function (s) {
            return s;
        }
    };

    export default {
        helpers: {
            errorClass(errors, binding) {
                let ret;
                if(errors.hasOwnProperty(binding)) {
                    ret = ` ${errors[binding] ? 'form__input--error' : 'form__input--success'}`;
                } else {
                    ret = '';
                }
                return ret;
            },
            errorMessage(errors, binding) {
                return errors[binding] ? errors[binding][0] : '';
            }
        },
        methods: {
            validateSingle(target, removeErrorsOnly) {
                let binding = target.getAttribute('data-binding') || '';
                const {constraints} = this.get();
                const fieldErrors = validate.single(target.value, constraints[binding]);
                const errors = this.get('errors');
                if (removeErrorsOnly && (fieldErrors || !errors.hasOwnProperty(binding))) {
                    return;
                }
                errors[binding] = fieldErrors;
                this.set({errors});
            },
            removeErrors(target) {
                this.validateSingle(target, true);
            }
        },
        data() {
            return {
                id: undefined,
                label: '',
                binding: '',
                value: '',
                placeholder: '',
                constraints: {},
                errors: {}
            }
        }
    }

</script>
<style type="text/scss">
    @import 'comet';


</style>