<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" />-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
    <link rel="stylesheet" href="comet.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body { margin: 36px }
    </style>

</head>
<body>

<div id="cart">
<div th:replace="http://localhost:3005"></div>

<h1>Mein Auto</h1>

<div id="piano">
<h1>Mein Klavier</h1>
</div>
<button onclick="refresh()">Refresh</button>
</div>

<div th:replace="fragments/footer :: footer">hi</div>
</body>
<script>
    function refresh() {
        var event = new CustomEvent('refresh', { bubbles: true, detail: 42 });
        var elem = document.getElementById('piano');
        elem.dispatchEvent(event);
    }

    var receiver = document.getElementById('cart');
    receiver.addEventListener('refresh', function(event) {
        alert('shots fired');
    });
</script>
</html>