<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" />-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"/>
    <link rel="stylesheet" href="comet.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<h1>Mein Auto</h1>
<p th:text="'Hello, ' + ${name} + '!'" />

<form method="POST" data-pjax="" action="http://web-shop-shopping-cart.herokuapp.com/">
    <button type="submit">Add to shopping cart</button>
</form>

<div th:replace="http://web-shop-shopping-cart.herokuapp.com/shopping-cart-full"></div>

<h1>Mein Boot</h1>

<div th:replace="fragments/footer :: footer">hi</div>
</body>
</html>