<div class="grid">
    <div class="grid__col grid__col--12">
        <button class="button button--small stretch" on:click="add(product)" xmlns:on="http://www.w3.org/1999/xhtml">Add</button>
    </div>
</div>

<script>
    import store from '../store.js'
    export default {
        methods: {
            add(product) {
                const svelteStoreItems = this.store.get('items');
                svelteStoreItems.push(product);
                this.store.set({'items': svelteStoreItems});
            }
        },
        computed: {
          itemCount: $items => $items.length
        },
        data() {
            return {
                product: {}
            }
        },
        store: () => store,
        tag: 'add-to-cart',
        props: ['product']
    }
</script>
<style type="text/scss">
    @import 'comet';
    .button.stretch {
        width: 100%;
    }
</style>