<button class="cartStatus button button--clear utility__float--right" on:click="fire('cartToggled')" >{{itemCount}} item{{itemCount == 1? '': 's'}} <span class="fas fa-shopping-cart"></span></button>
<script>
    export default {
        computed: {
            itemCount: items => items.length
        },
        data()  {
            return {
                items: []
            }
        },
        tag: 'cart-status',
        props: ['items']

    }
</script>

<style type="text/scss">
    @import 'comet';

    .button {
        &.cartStatus {
            font-size: 2rem;
            /*border-bottom: none;*/
        }
        &.button--clear:focus {
            background-color: transparent;
            border-color: transparent;
            color: $color__primary--dark;
        }
    }
</style>