<button class="cartStatus button button--clear utility__float--right" on:click="fire('cartToggled')" >{{itemCount}} item{{itemCount == 1? '': 's'}} &#x1F6D2;</button>
<script>
    export default {
        computed: {
            itemCount: items => items.length
        },
        data()  {
            return {
                items: []
            }
        },
        tag: 'cart-status',
        props: ['items']

    }
</script>

<style>
    button.cartStatus {
        float: right;
        font-size: 2rem;
        border-bottom: none;
    }
</style>