<div class="cart">
    <div>You have {{itemCount}} item{{itemCount == 1? '': 's'}} in your shopping cart.</div>
    <table>
        <col width="50%">
        <col width="25%">
        {{#each items as item, index}}
        <tr>
            <td><a target='_blank' href="/{{item.name}}">{{item.name}}</a></td>
            <td>
                <button class="button button--small" on:click="removeItem(index)">Delete</button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
<script>
    export default {
        computed: {
            itemCount: items => items.length
        },
        methods: {
            removeItem(index) {
                const cartItems = this.store.get('items');
                cartItems.splice(index, 1);
                this.store.set({'items': cartItems});
            }
        },
        data() {
            return {
                items: []
            }
        },
        tag: 'cart-list',
        props: ['items']
    }
</script>

<style>
    table {
        border-spacing: 0.3em;
    }
</style>